/* 🌍 Map Container */
.mapContainer {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 5vh auto 0;
  overflow: hidden;
  border-radius: 10px;
  border: 10px solid rgb(92, 26, 26);
}

/* 📌 Map Title */
.mapTitle {
  text-align: center;
  margin: 20px 0;
  font-size: 4rem;
  font-family: quicksand, sans-serif;
  color: black;
  text-shadow: 2px 2px 4px rgba(100, 175, 65, 0.9);
}

/* 🗺️ Map Image */
.mapImage {
  width: 100%;
  height: auto;
}

/* 📍 Map Point */
.mapPoint {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: yellow;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

/* 💬 Tooltip */
.tooltip {
  display: none;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
}

.mapPoint:hover .tooltip {
  display: block;
}

/* ℹ️ Info Card */
.infoCard {
  position: absolute;
  top: 10%;
  left: 10%;
  max-width: 300px;
  max-height: 80%;
  overflow: auto;
  transform: scale(0.7);
  transform-origin: top left;
  z-index: 1;
}

/* 🎛️ Button Container */
.buttonContainer {
  position: absolute;
  right: 10px;
  top: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 🎯 Map Button */
.mapButton {
  position: absolute;
  top: 0;
  left: -750%;
  transform: translateY(-50%);
  font-size: 12px;
  padding: 5px;
}

/* 📝 Map Description */
.mapDescription {
  font-size: 1.2rem;
  font-family: quicksand, sans-serif;
  text-align: center;
  padding: 25px;
  color: black;
  background-color: rgba(22, 178, 43, 0.5);
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

/* 📱 Responsive Design */

/* Tablet */
@media (max-width: 768px) {
  .mapContainer {
    margin-top: 3vh;
    border-radius: 100px;
    border-width: 8px;
  }

  .mapTitle {
    font-size: 2rem;
  }

  .mapPoint {
    width: 5px;
    height: 5px;
  }

  .tooltip {
    font-size: 10px;
    top: -20px;
  }

  .infoCard {
    top: 5%;
    left: 5%;
    max-width: 60%;
    max-height: 100%;
    transform: scale(0.9);
    transform-origin: bottom left;
    width: 100vw;
    font-size: 1rem;
    text-align: left;
  }

  .mapButton {
    left: -750%;
    font-size: 9px;
    min-width: 75px;
  }

  .mapDescription {
    font-size: 0.9rem;
  }
}

/* Mobile */
@media (max-width: 574px) {
  .mapContainer {
    margin-top: 2vh;
    border-radius: 80px;
    border-width: 6px;
  }

  .mapPoint {
    width: 10px;
    height: 10px;
  }

  .tooltip {
    font-size: 8px;
    top: -15px;
  }

  .infoCard {
    top: 5%;
    left: 5%;
    max-width: 90%;
    max-height: 90%;
    transform: scale(1);
    transform-origin: top left;
  }

  .mapButton {
    left: -575%;
    font-size: 8px;
  }

  .mapDescription {
    font-size: 0.9rem;
  }
}
