.puzzle-grid {
  margin: 2px;
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create 4 equal-width columns */
  grid-template-rows: repeat(4, 1fr); /* Create 4 equal-height rows */
  gap: 5px; /* Space between the puzzle pieces */
}

.drop-zone {
  border: 3px dashed #ccc; /* Border style for drop zones */
  min-height: 75px; /* Minimum height of drop zones */
  min-width: 100px; /* Minimum width of drop zones */
  display: flex; /* Center content */
  justify-content: center; /* Center content horizontally */
  align-items: flex-start; /* Align items to the top */
  position: relative; /* Necessary for absolutely positioned children */
  overflow: hidden; /* Hide overflowing content */
  padding: 2px; /* Add padding to create space around the image */
  cursor: pointer; /* Change cursor to indicate drop zone */
  margin: 2px; /* Reduce this value to bring drop zones closer together */
}

.puzzle-piece-container {
  position: relative; /* Allow for positioning on click to remove */
  cursor: pointer; /* Change cursor on hover */
  width: 100%;
  display: flex; /* Make sure it fills the drop zone */
  justify-content: center; /* Center the image */
  align-items: flex-start; /* Align the image to the top */
  overflow: hidden; /* Hide overflowing content */
  
}

.full-image, .puzzle-piece img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image fits properly */
  transition: transform 0.2s;
  border: 1px solid blue;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .drop-zone, .puzzle-piece-container {
    height: 50px; /* Adjust height for medium-sized screens */
  }
}

/* Media query for very small screens */
@media (max-width: 576px) {
  .drop-zone, .puzzle-piece-container {
    height: 100px; /* Adjust height for small screens */
  }
}
