footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, rgba(233, 19, 19, 0.925), rgba(15, 0, 0, 0.959));
  z-index: 1000; /* Ensures it stays above other elements if needed */
}


.background-bottom {
  text-align: center;
  margin-top: 10px;
}

.explore {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
}