.maze-container {
    display: grid;
    justify-content: center;
    align-items: center;
    outline: none;
    gap: 0px;
    position: relative;
    background-image: url('../images/maze-background.webp');
    background-size: cover;
    background-position: center;

  }
  
  .maze-row {
    display: flex;
  }
  
  .maze-cell {
    width: 25px; 
    height: 25px; 
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  
  .maze-cell.player {
    background-image: url('../images/player-sprite.webp');
    background-size: cover;
    background-position: center;
  }
  
  .maze-cell.goal {
    background-image: url('../images/goal-sprite.png');
    background-size: cover;
    background-position: center;
    border-color: rgb(243, 12, 50);
    border-radius: 20%;
  }
  
  .maze-cell.obstacle {
    background-image: url('../images/obstacle-sprite.webp');
    background-size: cover;
    background-position: center;
  }
  
  
  .victory-message {
    text-align: center;
    margin-top: 20px;
    color: darkgreen;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: green;
  }

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }
  
  