.memory-verse-container {
  background-color: transparent;
  text-align: center;
  margin: 1px;
  transition: background-color 0.5s ease, border-color 0.5s ease;
}

.memory-verse-container h2 {
  font-size: 3rem;
  color: #333;
  text-align: center;
  padding: 1rem;
}

.memory-verse-container p {
  transition: color 0.5s ease, text-shadow 0.5s ease;
}

.memory-verse-container p.flash {
  animation: font-flash 1s ease-in-out 2;
}

@keyframes font-flash {
  0%, 100% {
    color: #555;
    text-shadow: none;
  }
  50% {
    color: rgb(255, 97, 5);
    text-shadow: 
      1px 1px 2px #333, 
      2px 2px 4px #555, 
      3px 3px 6px rgba(0, 0, 0, 0.5);
  }
}


/* Media Query for Smaller Screens (e.g., Cell Phones) */
@media (max-width: 768px) {
  .memory-verse-container h2 {
    font-size: 2.5rem; /* Adjust header font size */
  }

  .memory-verse-container p {
    font-size: 1rem; /* Adjust paragraph font size */
    line-height: 1.4; /* Adjust line height for better readability */
  }
}