.prayer-body {
  width: 100vw;
  height: 100vh; /* Full height of the viewport */
  margin: 0;
  padding: 2rem 0;
  background-image: url('../images/prayer_background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.prayer-container {
  background-color: rgba(255, 255, 255, .1); /* Add transparency */
  border-radius: 15px;
  padding: 2rem;
  max-width: 600px;
  width: 90%; /* Responsive width */
}

.prayer-form {
  background-color: #f0f8ff;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 5px solid yellow;
  margin-bottom: 10rem;

}

.prayer-float-container {
  height: 400px;
  overflow: hidden;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Floating prayers */
.floating-prayer {
  background-color: #ffec99;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  animation: floatUp 7s ease-in-out forwards, fadeOut 10s ease-in-out forwards;
}

@keyframes floatUp {
  0% {
    transform: translateY(50%);
    opacity: 1;
  }
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
