.puzzle-grid {
  margin-bottom: 10px; /* Adjust this value as needed */
}

.drop-zone {
  border: 2px dashed #ccc; /* Border style for drop zones */
  min-height: 150px; /* Minimum height of drop zones */
  min-width: 100px; /* Minimum width of drop zones */
  display: flex; /* Center content */
  justify-content: center; /* Center content horizontally */
  align-items: flex-start; /* Align items to the top */
  position: relative; /* Necessary for absolutely positioned children */
  overflow: hidden; /* Hide overflowing content */
  padding: 100px; /* Add padding to create space around the image */
  cursor: pointer; /* Change cursor to indicate drop zone */
  margin: 20px; /* Reduce this value to bring drop zones closer together */
  margin-bottom: -183px; /* Reduce this value to bring drop zones closer together */
  margin-top: 20px; /* Reduce this value to bring drop zones closer together */
}


.full-image {
  width: 100%; /* Ensure image covers full width */
  height: auto; /* Adjust height for consistent spacing */
  object-fit: cover; /* Maintain aspect ratio and fill the space */
}

.img-fluid .full-image {
  width: 100%; /* Ensure image covers full width */
  height: auto; /* Adjust height for consistent spacing */
  object-fit: cover; /* Maintain aspect ratio and fill the space */
  margin-top: 20px; /* Adjust this value to lower the images on the page */
}

.puzzle-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: move; /* Indicate draggable pieces */
  overflow: hidden;
  transition: transform 0.2s;
}

.puzzle-piece img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.2s;
  cursor: pointer;
}

.puzzle-piece:hover {
  transform: scale(1.5); 
  cursor: pointer;
}

.img-container {
  position: relative; /* Allow for positioning on click to remove */
  cursor: pointer; /* Change cursor on hover */
  width: 100%;
  display: flex; /* Make sure it fills the drop zone */
  justify-content: center; /* Center the image */
  align-items: flex-start; /* Align the image to the top */
}

.img-container img {
  max-width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Fill the container */
  cursor: pointer;
  margin-top: 20px; /* Adjust this value to lower the images on the page */
}

.button-animate {
  transition: transform 0.2s ease, background-color 0.2s ease; /* Transition for hover effects */
}

.button-animate:hover {
  transform: scale(1.1); /* Scale up on hover */
  background-color: #0056b3; /* Darken the button color on hover */
}

.button-animate:active {
  animation: clickEffect 0.2s forwards; /* Animation when button is clicked */
}

@keyframes clickEffect {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(0.9); /* Shrink during click */
  }
  100% {
      transform: scale(1); /* Return to original size */
  }
}
