.karaoke-container {
  padding-top: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.play-button-container {
  position: absolute;
  bottom: 120px; /* Position the button above the lyrics */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.lyrics-container {
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: black;
  font-size: 2rem; /* Increase font size */
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}

.highlighted {
  color: white;
  font-weight: bold;
  position: relative;
}

.highlighted::before {
  content: '⚽'; /* Bouncing ball icon */
  position: absolute;
  left: -20px;
  top: -5px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
