.triviaContainer {
    text-align: center;
    font-family: 'georgia', serif;
    padding: 20px;
    height: 100vh; /* Makes the container take up the full viewport height */
    width: 100%; /* Ensures it spans the full width */
    background-image: url('../images/parchment.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Aligns the content at the top */
    align-items: center; /* Centers content horizontally */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
    padding-top: 50px; /* Adds some space between the top and the content */
}

h1 {
    font-size: 4rem;
    font-family: 'Allura', cursive;
    color: #8B4513;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-top: 0; /* Ensures no extra margin on top */
}


h2 {
    font-size: 1.2rem;
    font-family: 'georgia', cursive;
    color: black;
}

.questionSection {
    margin-bottom: 2rem;
    padding: .8rem;
    border-bottom: 1px solid #ccc;
}

.optionButton {
    display: block;
    width: 60%;
    margin: 0.5rem auto;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: 'Georgia', serif;
    color: #f5e9e9;
    text-shadow: 1px 1px 2px rgba(16, 26, 8, 0.5);
    background-image: url('../images/wood-texture.jpg');
    background-size: 100% 100%; /* Ensures image is not stretched */
    background-repeat: no-repeat; /* Prevents repeating */
    background-position: center center; /* Centers image properly */
    background-blend-mode: multiply;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.optionButton:hover,
.optionButton:focus {
    transform: scale(1.03);
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.3);
    outline: none;
}

.optionButtonCorrect {
    background: linear-gradient(to bottom, #A5D6A7, #66BB6A);
    background-image: url('../images/wood-texture.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.optionButtonIncorrect {
    background: linear-gradient(to bottom, #E57373, #D32F2F);
    background-image: url('../images/wood-texture.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.nextButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #6495ED;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nextButton:hover,
.nextButton:focus {
    background-color: #4682B4;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
