.word-jumble-page {
    background-color: #f0f8ff;
    height: 100vh;
}

.jumbled-word {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 10px;
    color: #4caf50;
}

input {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #4caf50;
    border-radius: 8px;
    background-color: white;
}

input:focus {
    outline: none;
    border-color: #3e8e41; /* Slightly darker green */
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.3);
}


button {
    font-size: 16px;
    padding: 12px;
    border-radius: 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;        
}

button:hover {
    background-color: #4caf50;
}

@media (max-width: 768px) {
    .jumbled-word {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .category-buttons button {
        font-size: 14px;
    }

    .jumbled-word {
        font-size: 1.2rem;
    }

    input {
        font-size: 14px;
    }
}
