.word-jumble-page {
    background: linear-gradient(135deg, #fbeee6, #ffdde1);
    min-height: 100vh;
    padding-top: 20px;
    text-align: center;
    font-family: Comic Sans Ms, fantasy; /* Fun font */
}

.jumbled-word {
    font-size: 2rem;
    font-weight: bold;
    font-family: quicksand, sans-serif;
    letter-spacing: 12px;
    color: #ff6347;
    background: #fffcf2;
    padding: 20px 60px;
    border: 2px solid #ff6347;
    margin: 20px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    animation: bounce 1s infinite alternate;
}

input {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #4caf50;
    border-radius: 8px;
    background-color: white;
    text-align: center;
}

input:focus {
    outline: none;
    border-color: #ff4500;
    box-shadow: 0 0 8px rgba(255, 69, 0, 0.5);
}


button {
    font-size: 16px;
    padding: 12px;
    border-radius: 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;        
}

button:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.category-buttons .btn-lg {
    font-size: 20px;
    border-radius: 10px;
    transition: all 0.2s;
}

.category-buttons .btn-lg:hover {
    transform: scale(1.1);
}

.correct-answer {
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
}

.incorrect-answer {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
}

button:hover {
    background-color: #4caf50;
}

/* Responsive Design */
@media (max-width: 768px) {
    .jumbled-word {
        font-size: 1.8rem;
        letter-spacing: 8px;
    }
}

@media (max-width: 400px) {
    .category-buttons button {
        font-size: 1rem;
    }

    .jumbled-word {
        font-size: 1.4rem;
    }

    input {
        font-size: 16px;
    }
}
