.word-jumble-page {
    background-color: #f0f8ff;
    height: 100vh;
}

.category-buttons button {
    font-size: 1.25rem;
    border-radius: 15px;
    padding: 10px;
    background-color: #ffc107;
    color: white;
    font-weight: bold;
}

.category-buttons button:hover {
    background-color: #ffb300;
}

.jumbled-word {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 10px;
    color: #4caf50;
}

input {
    padding: 12px;
    font-size: 16px;
}

button {
    font-size: 16px;
    padding: 12px;
    border-radius: 15px;
}

button:hover {
    background-color: #4caf50;
}

@media (max-width: 768px) {
    .jumbled-word {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .category-buttons button {
        font-size: 14px;
    }

    .jumbled-word {
        font-size: 1.2rem;
    }

    input {
        font-size: 14px;
    }
}
