body {
background-color: tan !important;
margin: 0 auto;

}

.card {
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

/* Add this CSS in your main CSS file or within a style block */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}